
<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <a class="navbar-brand" href="#"  style="color: white;">Online Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/first" style="color: white;">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/favorite" style="color: white;">Favorite<span class="sr-only"></span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/about" style="color: white;">About us<span class="sr-only"></span></a>
          </li>
      </ul>
      <span class="navbar-text text-bold" style="color: white;">
          To Learn...
      </span>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Online Library</h1>
      <p class="lead">Where everything you need to know is only an finger’s length away!</p>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="row-cols-1">
            <div class="title"><h3>Action</h3></div>
            <div *ngFor="let book of books" class="card" style="width: 20rem;">
                <img src="../../assets/15.jpg" height="100" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">The action genre is characterized by more emphasis on exciting action sequences than on character development or story-telling. That is not to say that the action-adventure story does not have memorable characters or circumstances.</p>
                  <a routerLink="/action" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="row-cols-2">
            <div class="title"><h3>Comedy</h3></div>
            <div *ngFor="let book of books" class="card" style="width: 20rem;">
                <img src="../../assets/16.jpg" height="100" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">The function of comedy is to bring amusement. It entertains the audience and it also gives a message to the readers or audience. It is important in both literature and movies as it depicts the social institutions as well as persons who are corrupt.</p>
                  <a routerLink="/comedy" class="btn btn-primary">Go</a>
                </div>
              </div>
        </div>
        <div class="row-cols-3" >
            <div class="title"><h3>Others</h3></div>
            <div *ngFor="let book of books" class="card" style="width: 20rem;">
                <img src="../../assets/17.jpg" height="100" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">You can find some other books like romantic,horror,sci-fic and much other genres.These includes some study books also,it will helps to boost your knowledge and gives you happy of knowing something which is not known for decades.</p>
                  <a routerLink="/other" class="btn btn-primary"align="center">Go</a>
                </div>
              </div>
        </div>

    </div>

</div>
