<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <a class="navbar-brand" href="#"  style="color: white;">Online Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/first" style="color: white;">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/favorite" style="color: white;">Favorite<span class="sr-only"></span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/about" style="color: white;">About us<span class="sr-only"></span></a>
          </li>
      </ul>
      <span class="navbar-text text-bold" style="color: white;">
         To Learn...
      </span>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Online Library</h1>
      <p class="lead">Where everything you need to know is only an finger’s length away!</p>
    </div>
  </div>

  <div style="position: absolute; top:300px; left:250px;">
    <button [routerLink]="'/other'">Other</button>
</div>

<div style="position: absolute; top:310px; left:580px;">
    <div>{{message}}</div>
    <form [formGroup]="bookForm" (ngSubmit)="saveBook">
        <table>
            <tr>
                <td>Book Name:</td>
                <td>
                    <input type="text"  name="name" />
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" name="description" />
                </td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>

</div>
