
<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <a class="navbar-brand" href="#"  style="color: white;">Online Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/about" style="color: white;">About us<span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login" style="color: white;">Login<span class="sr-only"></span></a>
          </li>
      </ul>
      <span class="navbar-text text-bold" style="color: white;">
         To Learn...
      </span>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Online Library</h1>
      <p class="lead">Where everything you need to know is only an finger’s length away!</p>
    </div>
  </div>
  <div class="container">
  <h1  class="navbar-text text-bold">Welcome to our Online Library</h1><br>
  <h3  class="navbar-text text-bold">Please Login !!!</h3>
</div>
