<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <a class="navbar-brand" href="#"  style="color: white;">Online Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/first" style="color: white;">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/favorite" style="color: white;">Favorite<span class="sr-only"></span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/about" style="color: white;">About us<span class="sr-only"></span></a>
          </li>
      </ul>
      <span class="navbar-text text-bold" style="color: white;">
          To Learn...      </span>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Online Library</h1>
      <p class="lead">Where everything you need to know is only an finger’s length away!</p>
    </div>
  </div>
 <!-- <h1 class="hi">Created by</h1>
 <h3 class="hii">Mohamed Shammer</h3>
 <h3 class="hii">Srisaran</h3>
 <h3 class="hii">Balamurugan</h3>
 <h3 class="hii">Hazeena Mariyam Fathima</h3>
 <h3 class="hii">Nirmal Sintha Abraham</h3> -->
