<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <a class="navbar-brand" href="#"  style="color: white;">Online Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/first" style="color: white;">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/favorite" style="color: white;">Favorite<span class="sr-only"></span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/about" style="color: white;">About us<span class="sr-only"></span></a>
          </li>
      </ul>
      <span class="navbar-text text-bold" style="color: white;">
          To Learn...
      </span>
    </div>
  </nav>


  <ng-container *ngIf="true">
    <div class="container">
      <div class="card-table">
          <div class="book-product">
              <table class="table table-responsive">
                  <thead>
                      <tr>
                          <th>Sr.No</th>
                          <th>BookName</th>
                          <th>BookImage</th>
                          <th>Description</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of book; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td><img style="width: 120px;" src="{{item.imageUrl}}"></td>
                        <td >{{item.description}}</td>
                        <td>
                            <button (click)="remove(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                  </tbody>
                  </table>
          </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="false">
  <div class="container">
    <div class="card">
        <h1 class="card-title">My Favorite</h1>
    </div>
    <div class="center">

        <h4>Your Favorite is empty!</h4>
        <h6>Add book to it now</h6>
        <button routerLink="/first" class="btn btn-primary">Shop Now</button>
    </div>
</div>
</ng-container>
